
:root {
    --dark-blue: #2e2e46;
    --light-menu: #f5f6fa;
    --white: #ffffff;
    --border-grey: #efefef;
    --light-grey: #f8f8f9;
    --text-color: #565657;
    --text-grey: #aaaaaa;
    --grey: #d4d4d5;
    --dark: #1e90ff;
    --primary: #003386;
    --secondary: #ffb300;
    --danger: #db2828;
    --warning: #f2711c;
    --success: #21ba45;
    --info: #009c95;
    --font: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    --font-bold: 'Lato-Bold';
    --font-size: 14px;
    --small-font-size: 13px;
    --card-border-radius: 4px;
    --btn-font-size: 13.5px;
    --btn-color: #dddddd;
    --btn-large-font-size: 18px;
    --btn-small-font-size: 11px;
    --btn-huge-font-size: 24px;
    --color-placeholder: #8d8d8d;
    --form-font-size: 14px;
    --input-border-radius: 4px;
    --input-font-size: 14px;
    --input-border-color: #dedede;
  }
  


.hero {
    width: 100vw;
    height: 600px;
    background: url('./assets/img/masterhead.png') no-repeat;
    background-size: cover;
    position:relative;
  }
  .hero .top {
    margin-bottom: 100px;
    padding: 40px 20px 20px 20px;
  }
  .hero .top .left {
    float: left;
    width: 120px;
    height: auto;
  }
  .hero .top .right {
    float: right;
  }
 
  .hero .input-group {
    color: #fff !important;
    border-color: #fff !important;
    float: left;
    width: 200px;
    border-radius: 30px;
    background-color: transparent !important;
  }
  .hero  .input-group .ico {
    color: #fff !important;
  }
  .hero  .input-group input {
    background: transparent;
    color: #fff;
  }
  .hero .big-txt {
    font-weight: 600;
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    color: #fff
  }
  .hero .button-group {
    margin-top: 40px;
  }
  .hero .btn-secondary {
    background: #ffb300;
    color: #003386;
    border:#ffb300;
    padding: 15px 25px;
    font-size: 14px;
  }
  .hero .btn-secondary .ico {
    float: right;
    margin: 2px 0 0 20px;
  }
  .hero .btn-transparent {
    background: transparent;
    color: #fff;
    border: solid 2px #fff;
    padding: 13px 35px;
    font-size: 14px;
    border-left: 0;
  }
  .hero .content {
    height: 440px;
  }
  .hero .links-blue {
    position: absolute;
    background: rgba(0, 51, 134, 0.85);
    left: 15px;
    right: 15px;
    padding: 110px 10px 40px 10px;
    bottom: 0 !important;
    display: flex;
    justify-content: center;
  }
  .hero .links-blue .link-item {
    color: #fff;
    float: left;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
  }
  .hero .links-blue .link-item:hover {
    color: #ffb300;
  }



@media(min-width: 1080px){
  .hero{
      background-position-y: -100px;
  }
}
@media(min-width: 1200px){
  .hero{
      background-position-y: -180px;
  }
}

/* description */

.description-box {
    margin-top: 120px;
  }
  .description-box .title {
    font-weight: 600;
    font-size: 36px;
  }
  .description-box .desc {
    margin-top: 40px;
  }
  .description-box .person {
    width: 90%;
  }
  .description-box .center {
    text-align: center;
    margin-top: 40px;
  }
  .description-box .center .btn-read {
    background: #dde5f2;
    border-color: #dde5f2;
    padding: 12px 50px;
    cursor: pointer;
    color: #003386;
    font-size: 15px;
  }
  
/* Featured */

.featured {
    margin: 80px 0 0 0;
    width: 100%;
  }
  .featured .blue {
    width: 100%;
    height: 550px;
    background: #003386;
    display: flex;
    justify-content: center;
  }
  .featured .blue .title {
    margin-top: 200px;
    font-size: 32px;
    width: 150px;
    color: #fff;
    font-family: 'Lato', sans-serif;
  }
  .featured .image {
    width: 100%;
    background-size: cover !important;
    position: relative;
    height: 550px;
  }
  .featured .overlay {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .featured .overlay .content {
    margin-top: 150px;
    padding: 10px 15px;
  }
  .featured .overlay .content .name {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
  }
  .featured .overlay .content .price {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 60px;
  }
  .featured .overlay .btn-box {
    position: absolute;
    right: 0 !important;
    bottom: 0 !important;
  }
  .featured .overlay .btn-box .btn-icon {
    padding: 10px 15px 6px 15px;
    font-size: 20px;
    background: #fff;
    border: 0 !important;
  }


  /* Service */

  .services {
    background: #F6F6F6 !important;
    width: 100%;
    padding: 80px 0 150px 0;
  }
  .services .title {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color: #525252;
    margin-bottom: 70px;
  }
  .services .icon-box {
    margin-bottom: 20px;
  }
  .services .icon-box .ico {
    font-size: 65px;
    color: #FDA100;
  }
  .services .txt-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 30px;
    color: #7f7f7f;
  }
  .services .txt {
    color: #7f7f7f;
  }
  .services .carousel-indicators {
    bottom: -80px !important;
  }
  .services .carousel-indicators li {
    background: #c5c5c5;
    width: 15px;
    height: 0px;
    border-radius: 50%;
  }
  .services .carousel-indicators li.active {
    background: #003386;
  }
  

  /* Testimonial */

  .testimonial {
    background: #fff !important;
    width: 100%;
    padding: 80px 0 150px 0;
  }
  .testimonial .title {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color: #525252;
    margin-bottom: 50px;
  }
  .testimonial .testimony:first-child .avatar-box {
    background: #64d2e9 !important;
  }
  .testimonial .testimony:last-child .avatar-box {
    background: #ff868b !important;
  }
  .testimonial .testimony {
    cursor: pointer;
    padding: 30px 20px;
  }
  .testimonial .testimony .icon-box {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  .testimonial .testimony .icon-box .avatar-box {
    width: 70px;
    height: 70px;
    background: #9171ec;
    border-radius: 50%;
    position: relative;
    padding: 0 calc(10px);
  }
  .testimonial .testimony .icon-box .avatar-box .ico {
    font-size: 50px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 12px;
  }
  .testimonial .testimony .txt-title {
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
  }
  .testimonial .testimony .txt {
    color: #7f7f7f;
  }
  .testimonial .testimony:hover {
    -webkit-box-shadow: 5px 0px 40px 1px rgba(238, 238, 238, 0.81);
    -moz-box-shadow: 5px 0px 40px 1px rgba(238, 238, 238, 0.81);
    box-shadow: 5px 0px 40px 1px rgba(238, 238, 238, 0.81);
    border-radius: 5px;
  }
  .testimonial .carousel .carousel-inner {
    padding: 0 30px;
  }
  .testimonial .carousel .carousel-inner .carousel-item {
    margin: 50px 0 !important;
  }
  .testimonial .carousel-indicators {
    bottom: -80px !important;
  }
  .testimonial .carousel-indicators li {
    background: #c5c5c5;
    width: 15px;
    height: 0px;
    border-radius: 50%;
  }
  .testimonial .carousel-indicators li.active {
    background: #003386;
  }

  
  /* Footer */

  .footer {
    width: 100%;
  }
  .footer .links,
  .footer .social,
  .footer .newsletter,
  .footer .logo-box,
  .footer .copyright {
    width: 100%;
    background: #f6f6f6;
    color: #606060;
  }
  .footer .copyright {
    text-align: center;
    background: #efefef;
    padding: 30px 0;
    color: #919191;
  }
  .footer .logo-box {
    text-align: center;
    padding: 40px 0;
  }
  .footer .logo-box .logo {
    width: 160px;
    height: auto;
  }
  .footer .newsletter {
    padding: 10px 0 30px 0;
  }
  .footer .newsletter .form {
    margin: 50px 0 0 30px !important;
  }
  .footer .newsletter .form input::placeholder {
    /* Firefox, Chrome, Opera */
    color: #000 !important;
    text-align: center;
    font-size: 13px;
  }
  .footer .newsletter .form input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000 !important;
    text-align: center;
    font-size: 13px;
  }
  .footer .newsletter .form input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000 !important;
    text-align: center;
    font-size: 13px;
  }
  .footer .newsletter .form input {
    border: 0 !important;
    background: #fff;
    border-radius: 0;
    padding: 12px 30px;
  }
  .footer .newsletter .form .btn-black {
    background: #222222;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }
  .footer .newsletter .title {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 6px;
    margin: 10px 0;
  }
  .footer .newsletter .desc {
    text-align: center;
    font-size: 15px;
    margin: 10px 0;
  }
  .footer .links {
    padding: 15px 0 50px 0;
    display: flex;
    justify-content: center;
  }
  .footer .links .link {
    font-size: 12px;
    font-weight: 600;
    float: left;
    color: #606060;
  }
  .footer .links .link .dot {
    margin: 6px 40px 0 40px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #606060;
    float: right;
  }
  .footer .social {
    padding: 40px 0;
    text-align: center;
  }
  .footer .social .ico {
    font-size: 18px;
    margin: 0 20px;
    color: #606060;
    cursor: pointer;
  }
  .footer .social .ico:hover {
    color: #000;
  }
  


  /* Login additional css */

  /* .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    z-index: 1 !important;
} */
.fixed-top {
  position: relative !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.row{
  overflow: hidden;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border:none !important;
  border-radius: .25rem;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + .75rem);
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  content: "" !important;
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 .25rem .25rem 0;
}